[Unit]
Description=Remove nvidia
Before=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/markhorlinux-remove-nvidia

[Install]
WantedBy=multi-user.target
